body {
  font-family: 'Montserrat', sans-serif; }

.container {
  display: flex;
  flex-direction: column; }
  .container .jumbotron {
    display: flex;
    background: url(../images/hero-bg.jpg) no-repeat center fixed;
    background-size: cover;
    flex-flow: column wrap;
    width: 100%;
    padding-bottom: 11rem;
    margin-left: auto;
    margin-right: auto; }
    .container .jumbotron .navbar {
      margin: 3rem 15rem 3rem auto; }
      .container .jumbotron .navbar img {
        width: 3rem; }
    .container .jumbotron .jumbotron-container {
      width: 35rem;
      margin: 5rem 15rem 0rem auto;
      display: flex;
      flex-direction: column; }
      .container .jumbotron .jumbotron-container .intro {
        width: 100%;
        position: relative;
        color: white; }
        .container .jumbotron .jumbotron-container .intro .greetings {
          font-size: 6rem;
          font-weight: lighter;
          margin-bottom: 6rem; }
        .container .jumbotron .jumbotron-container .intro .name {
          font-size: 5rem;
          font-weight: bold;
          margin-bottom: 4.5rem; }
        .container .jumbotron .jumbotron-container .intro .job-description {
          font-size: 1.7rem;
          font-weight: 100; }
      .container .jumbotron .jumbotron-container .links {
        width: 27.7rem;
        margin-top: 4rem; }
        .container .jumbotron .jumbotron-container .links .know-more-btn {
          width: 20rem;
          border-radius: 4rem;
          height: 5rem;
          margin-bottom: 2rem;
          background-color: #37a7ff;
          font-size: 1.5rem;
          font-weight: lighter;
          color: white;
          box-shadow: 0.5rem 0.9rem 25rem 1rem #0e0e0e; }
        .container .jumbotron .jumbotron-container .links .social-accounts {
          width: 21rem;
          color: #dbc1f2;
          font-size: 1.5rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          .container .jumbotron .jumbotron-container .links .social-accounts .join-me-note {
            margin-right: 1rem; }
  .container .portfolio-container {
    background-color: #f2f2f2; }
    .container .portfolio-container .portfolio {
      margin: -5rem 15rem 0rem 15rem;
      background: white; }
      .container .portfolio-container .portfolio .portfolio-body {
        padding: 5rem 3rem 3rem 3rem;
        display: flex;
        flex-direction: column; }
        .container .portfolio-container .portfolio .portfolio-body .portfolio-header {
          margin-top: .5rem;
          display: flex;
          flex-direction: column; }
          .container .portfolio-container .portfolio .portfolio-body .portfolio-header .heading {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 2rem; }
          .container .portfolio-container .portfolio .portfolio-body .portfolio-header .works-with {
            font-size: 4rem;
            margin: 2rem 0rem; }
            .container .portfolio-container .portfolio .portfolio-body .portfolio-header .works-with .works {
              font-weight: 600;
              color: #7447ae; }
            .container .portfolio-container .portfolio .portfolio-body .portfolio-header .works-with .with {
              font-weight: 400; }
          .container .portfolio-container .portfolio .portfolio-body .portfolio-header .startup-founders {
            font-size: 4rem;
            margin-top: .7rem;
            font-weight: 400;
            margin: 1rem 0; }
          .container .portfolio-container .portfolio .portfolio-body .portfolio-header .startup-founders::after {
            height: .5rem;
            display: block;
            widows: 6rem;
            content: '';
            color: red; }
